{{> includes/header}}
<body id="page-top">
    {{> includes/navbar}}
    <main>
        {{#> content }}
            <h2>This is default content</h2>
        {{/content}}
    </main>
    {{> includes/footer}}
</body>
