    <footer class="bg-light" id="footer">
        <div class="container">
            <div class="row">
                <div class="col-md-4 text-center">
                    <h3 class="section-heading">Want to get involved?</h3>
                    <p>Send us and email asking to recieve our team updates.</p>
                    <i class="fa fa-envelope-o fa-3x sr-contact"></i>
                    <p><a href="mailto:your-email@your-domain.com">team144@email.com</a></p>
                </div>
                <div class="col-xs-12 col-md-4 text-center">
                    <div class="btn btn-primary btn-center">Get Sponsorship Info</div>
                </div>
                <div class="col-xs-12 col-md-4 text-center pull-right">
                    <h2 class="col-xs-12">Sponsors</h2>
                    <h3 class="col-xs-4">Clippard</h3>
                    <h3 class="col-xs-4">P&G</h3>
                    <h3 class="col-xs-4">Skyline</h3>
                </div>
            </div>
        </div>
    </footer>

    <!-- jQuery -->
    <script src="vendor/jquery/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="vendor/bootstrap/js/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->

    <!-- Theme JavaScript -->
    <script src="js/main.min.js"></script>
</body>
</html>


