<div class="event">
    <h1>{{title}}</h1>
        {{#if location}}
    <div class="event-info">
        <span class="location">
            <a href="#" class=""><i class="fa fa-map-marker"></i>{{location.title}}</a>
        </span>
        <br />
        {{/if}}
        <span class="date">{{date}}</span>
    </div>
        

</div>