<div class="event">
    <h1>{{title}}
        {{#if location}}
        <span class="location">
            <a href="#" class=""><i class="fa fa-map-marker"></i>{{location.title}}</a>
        </span>
        {{/if}}
        <span class="date">{{date}}</span>
    </h1>
</div>