// ***********************************************************
.events {
    align-items: stretch;
}

.event {
    margin: 1em;
    background-color: $background-light;
    border: $light-border;
    
    h1 {
        font-size: 1.5em;
        font-family: $site-heading-font;
        margin: .25em 0;
        padding: .5em;
        span {
            font-size: 14px;
            display: block;
            font-family: $site-content-font;

            i {
                margin-right: .5em;
            }

        }
    }
}

@include breakpoint(l) {
    .event {
        h1 {
            span {
                font-size: 18px;

            }

            a {
                text-decoration: none;
                position: relative;
                @include red-hover-effect;
            }
        }
    }
}
// ***********************************************************