// row display flex flex-row flex-column flex-row-l flex-space-between-m

nav header {
    align-items: stretch;
    background-color: $theme-dark-red;
    border-bottom: solid 1px transparent;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    transition: all 0.15s ease-in-out;
    z-index: 1;

    &.scrolling {
        border-bottom: solid 1px #c6c6c6;
    }

    &.scroll-top {
        border-bottom: solid 1px transparent;
    }

    a {
        text-decoration: none;
        color: inherit;
    }
}


.navbar-header {
    font-size: 16px;
    text-align: center;
    color: $light-text;
}


 .navbar-nav {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    justify-content: space-around;
    align-items: stretch;

    li {

        background-color: transparent;
        flex-grow: 1;
        text-align: center;

        a {
            position: relative;
            padding-bottom: 5px;
            color: inherit;
            background-color: transparent;

            @include white-hover-effect;
        }
    }
}



// Medium devices
@include breakpoint(m) {
    
}


// Large devices
@include breakpoint(l) {
    .navbar {
        // background-color: $large-navbar-background;
        max-width: $large-max-width;
        margin: $large-navbar-margin;

        &.scrolling {
            border-bottom: solid 1px #c6c6c6;
            position: fixed;
            top: 0;
            width: 100%;
        }
    
        &.scroll-top {
            border-bottom: solid 1px transparent;
        }
    }
    
    .navbar-header {
        align-items: initial;
        // background-color: transparent;
        // color: $dark-text;
        flex-direction: row;
        justify-content: space-between;
        padding: 1em;
        
        .heading {
            margin: 0;
            font-size: 1.3em;

            a {
                @include white-hover-effect;
            }

        }
    }

    .navbar-nav {
        list-style: none;

        
        li {
            margin: 0 1em;
            background-color: transparent;
            flex-grow: 1;
            text-align: center;
        }
    }
}


// Extra Large devices
@include breakpoint(xl) {
}