
html {
    font-size: calc( 16px + 8 * ((100vw - 500px) / 1500));
}
.site-header {
    align-items: center;
    display: flex;
    position: relative;
}

main {
    text-align: center;
}

section {
    align-items: center;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    min-height: 100vh;

}

h1 {
    font-size: 18px;
}

h2 {
    font-size: 16px;
}

h3 {
    font-size: 14px;
}

.heading {
    margin: 1em 0;
}

// Medium devices
@include breakpoint(m) {
    section {
    }
}

// Large devices
@include breakpoint(l) {
}


// Extra Large devices
@include breakpoint(xl) {
}