
html {
    font-size: calc( 16px + 8 * ((100vw - 500px) / 1500));
    font-family: 'Roboto Condensed', sans-serif;
}
.site-header {
    align-items: center;
    display: flex;
    position: relative;
}

main {
    text-align: center;
    font-family: 'Roboto Condensed', sans-serif;
}

section {

    font-family: 'Roboto Condensed', sans-serif;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    min-height: 100vh;
}
h1, h2, h3, h4, h5, h6 {
    font-family: $site-content-font;
}

h1 {
    font-family: $site-heading-font;
}

h2 {
    font-size: 16px;
}

h3 {
    font-size: 14px;
}

.heading {
    font-family: $site-heading-font;
    margin: 1em 0;
}

.row {
    display: flex;
    flex-direction: row;
}

// Medium devices
@include breakpoint(m) {
    section {
    }
}

// Large devices
@include breakpoint(l) {
    section {
        max-width: $large-max-width;
        background-color: $large-section-background;
        padding: 0 $medium-padding;
    }

    .home-header {
        flex-direction: row;
        position: relative;
        
        img {
            max-width: 100%;
        }
    }
}


// Extra Large devices
@include breakpoint(xl) {
}